<ul>
	 <% if @category != nil %>
	 <label><big><b><%=@category.name%></b></big></label><br><br>
	 <%else%>
	 <label><big><b><%="Non Categorizzate"%></b></big></label><br><br>
	 <%end%>
	 
<% for faq in @faqs_in_category -%>	
  <% if faq.answer.length > 0 %>
    <li><span class="icon icon-green-right"><%= link_to faq.question, :controller => 'ezfaq', :action => 'show', :id => @project, :faq_id => faq %></span></li>
  <% else %>
    <li><span class="icon icon-question"><%= link_to faq.question, :controller => 'ezfaq', :action => 'show', :id => @project, :faq_id => faq %></span></li>
  <% end %>
<% end %>
</ul>

<% content_for :sidebar do %>
    <%= render :partial => 'ezfaq/sidebar' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "ezfaq.css", :plugin => "ezfaq_plugin", :media => "screen" %>
<% end %>

<% html_title(l(:label_title_ezfaq)) -%>

<%= link_to l(:button_cancel), :controller => 'ezfaq', :action => 'index',:id => @project %>